*{
    font-family: sans-serif;
}
.ptwo{
    margin-left: 50px;
    height: 30px;
    width: 90%;
}
.btn{
    margin-left: 20px;
}
input{
    margin-left: 20px;
}
body{
    background-color: seagreen;
}
fieldset{
    background-color: white;
    width: 30%;
    height: 500px;
}
.btn{
    width: 150px;
    height: 40px;
    font-weight: 700;
    font-size: 15px;
    color: white;
    background-color: seagreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.pone{
    color: white;
    margin-left: 60px;
}
a{
    text-decoration: none;
    color: seagreen;
}
.pth{
    color: white;
    text-decoration: underline;
}
h1{
    margin-left: 20px;
}
p{
    margin-left: 20px;
}
#pone{
    margin-left: 20px;
    margin-top: 10px;
}